$color-black:                         #1c1c1c;
$color-dark-gray:                     #989898;
$color-gray:                          #cacaca;
$color-light-gray:                    #ededed;
$color-white:                         #fbfbfb;

$color-green-darker:                  #40916c;
$color-green:                         #52b788;
$color-green-lighter:                 #74c69d;


$font-family-1: "Trebuchet MS";
$font-family-2: "Georgia";
